
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>出错啦！</title>
		<link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
		<link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/community.css">
		<script src="/bootstrap-3.3.7-dist/js/jquery-3.4.1.min.js"></script>
		<script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
		<meta name="keywords" content="404 iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<link href="/bootstrap-3.3.7-dist/css/style.css" rel="stylesheet" type="text/css"  media="all" />
	</head>
	<body>
		<!-- 导入导航栏 -->
		<div th:insert="~{navigation :: nav}"></div>
		<!--start-wrap--->
		<div class="wrap">
			<!---start-header---->
				<div class="header">
					<div class="logo">
						<h1 style="color: darkred">页面离家出走了！！！</h1>
					</div>
				</div>
			<!---End-header---->
			<!--start-content------>
			<div class="content">
				<img src="/bootstrap-3.3.7-dist/images/error-img.png" title="error" />
				<p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
				<a href="/index">返回首页</a>
				<!--<div class="copy-right">
					<p>&#169 All rights Reserved | Designed by <a href="http://w3layouts.com/">W3Layouts</a></p>
				</div>-->
   			</div>
			<!--End-Cotent------>
		</div>
		<!--End-wrap--->
	</body>
</html>

